{% block content %}
<div class="mui--text-center">
  <div class="mui--appbar-height"></div>
  <br>
  <br>
  <div class="mui--text-display3 row wow zoomInDown" style="color:#7CB342;" data-wow-duration="2s">Jylo.id</div>
  <br>
  <br>
  <button class="mui-btn mui-btn--raised">Get started</button>
  <br>
  <br>
  <img class="mui--text-display3 row wow zoomIn" aria-hidden="true" src="https://www.slimframework.com/assets/discourse/slim-discourse-logo.png" alt="" style="max-width:100%;height:auto;"  data-wow-duration="2s">
</div>
<br><br>
<div class="mui-divider"></div>
<section>
<div class="mui-container-fluid">
  <div class="mui-row">
    <div class="mui-col-md-4 green-tea-txt wow fadeInUp zoom" align="center"  data-wow-duration="2s" data-wow-delay="0.3s">
      <h2>HTTP Router</h2>
      <img src="https://www.freewebmentor.com/wp-content/uploads/2015/12/slim-logo.png" alt="" width="200px" height="200" style="border-radius: 50%;">
      <p align="justify">
        Slim provides a fast and powerful router that maps route callbacks to specific HTTP request methods and URIs. It supports parameters and pattern matching.
      </p>
    </div>
    <div class="mui-col-md-4 green-tea-txt wow fadeInDown zoom" align="center"  data-wow-duration="2s" data-wow-delay="0.3s">
      <h2>Middleware</h2>
      <img src="https://www.freewebmentor.com/wp-content/uploads/2015/12/slim-logo.png" alt="" width="200px" height="200" style="border-radius: 50%;">
      <p align="justify">
        Build your application with concentric middleware to tweak the HTTP request and response objects around your Slim app.
      </p>
    </div>
    <div class="mui-col-md-4 green-tea-txt wow fadeInUp zoom" align="center"  data-wow-duration="2s" data-wow-delay="0.3s">
      <h2>PSR-7 Support</h2>
      <img src="https://www.freewebmentor.com/wp-content/uploads/2015/12/slim-logo.png" alt="" width="200px" height="200" style="border-radius: 50%;">
      <p align="justify">
        Slim supports any PSR-7 HTTP message implementation so you may inspect and manipulate HTTP message method, status, URI, headers, cookies, and body.
      </p>
    </div>
  </div>
</div>
</section>


<section>
  <div class="mui-container-fluid parallax green-tea-txt">
    <h1 align="center">Why MUICSS?</h1>
    <div class="mui-row main-carousel" align="center">
      <div class="mui-col-md-3 carousel-cell mui-container-box zoom wow zoomIn"  data-wow-duration="2s">
        <h2>Small Footprint</h2>
        <p>MUI has a small download size to help pages load as quickly as possible</p>
      </div>
      <div class="mui-col-md-3 carousel-cell mui-container-box zoom wow zoomIn"  data-wow-duration="2s">
        <h2>Customizable</h2>
        <p>The MUI CSS can be easily customized by using the SASS files available on GitHub and via Bower. Customize breakpoints, font-settings and use Material Design colors.</p>
      </div>
      <div class="mui-col-md-3 carousel-cell mui-container-box zoom wow zoomIn"  data-wow-duration="2s">
        <h2>No Dependencies</h2>
        <p>MUI CSS/JS has no external dependencies</p>
      </div>
      <div class="mui-col-md-3 carousel-cell mui-container-box zoom wow zoomIn"  data-wow-duration="2s">
        <h2>Package Layout</h2>
        <p>The MUI package includes all the necessary code to use MUI components on the web and over email. In addition, we're working on React and WebComponents libraries to give developers more flexibility on the web.</p>
      </div>
      <div class="mui-col-md-3 carousel-cell mui-container-box zoom wow zoomIn"  data-wow-duration="2s">
        <h2>Cross Platform</h2>
        <p>The MUI project is committed to building a set of components that work across platforms from web to mobile to email to iOS to Android.</p>
      </div>
      <div class="mui-col-md-3 carousel-cell mui-container-box zoom wow zoomIn"  data-wow-duration="2s">
        <h2>HTML Email</h2>
        <p>To help with HTML emails, MUI includes an email CSS library that can be used with an inliner.</p>
      </div>
      <div class="mui-col-md-3 carousel-cell mui-container-box zoom wow zoomIn"  data-wow-duration="2s">
        <h2>Acknowledgements</h2>
        <p>MUI is heavily influenced by Bootstrap, Polymer, and Ink as well as some of the popular Material Design frameworks (Materialize, Material-Bootstrap, Material UI). To encourage developers to hack on MUI, the source code for MUI is open-source under an MIT license.</p>
      </div>
    </div>
  </div>
</section>


<section>
<div class="mui-container-fluid green-tea-txt" align="center">
  <h2>What we have?</h2>
  <div class="mui-row zoomIn">
    <div class="mui-col-md-3 zoom wow fadeInUp">
      <h4>Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.</h4>
    </div>
    <div class="mui-col-md-3 zoom wow fadeInDown">
      <h4>Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.</h4>
    </div>
    <div class="mui-col-md-3 zoom wow fadeInUp">
      <h4>Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.</h4>
    </div>
    <div class="mui-col-md-3 zoom wow fadeInDown">
      <h4>Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.</h4>
    </div>
  </div>
</div>
</section>
{% endblock %}
