<br>
<br>
<br>

<footer>
  <div class="mui-container mui--text-center">
    Made with ♥ by <a href="https://www.muicss.com">MUICSS</a>
  </div>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
  new WOW().init();
</script>

<script>
$('.main-carousel').flickity({
  cellAlign: 'left',
  contain: true,
  autoPlay: true,
  autoPlay: 2000,
  wrapAround: true
});
</script>


</body>
</html>
