<header class="mui-appbar mui--z1 dark-green-tea-bg">
  <div class="mui-container">
    <table>
      <tr class="mui--appbar-height">
        <td class="mui--text-title">Jylo.id</td>
        <td class="mui--text-right">
          <ul class="mui-list--inline mui--text-body2">
            <li class="super-light-green-tea-txt"><a href="#">About</a></li>
            <li class="super-light-green-tea-txt"><a href="#">Blog</a></li>
            <li class="super-light-green-tea-txt"><a href="#">Product</a></li>
            <li class="super-light-green-tea-txt"><a href="#">Contact</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
</header>
